<div fxLayout="row" fxLayoutAlign="space-between">
  <div class="item">1</div>
  <div class="item">2</div>
  <div class="item">3</div>
  <div class="item">4</div>
  <div class="item">5</div>
</div>

<div fxLayout="column">
  <div fxFlex="33%" class="item">A</div>
</div>

<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px" fxLayoutAlign="<main-axis> <cross-axis>">
  <div class="item" fxFlexOrder="1">1</div>
  <div class="item" fxFlexAlign="center" fxFlexOffset="20px" fxFlexOrder="3" fxFlex>2</div>
  <div class="item" fxFlexOrder="2">3</div>
  <div class="item" fxFlexOrder="4" fxFlex="20">4</div>
</div>

<div class="container">
  <div class="flex-container" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="child-1">1. One</mat-card> 
    <mat-card class="child-2">2. Two</mat-card> 
    <mat-card class="child-3">3. Three</mat-card>
  </div>
</div>